/*
====================================================================================================
===============================================Padding==============================================
====================================================================================================
*/
.Padding0{
    padding: 0px !important;
}


/*
====================================================================================================
===============================================Margin==============================================
====================================================================================================
*/
.Margin0{
    margin: 0px !important;
}

.Margin20{
    margin: 20px !important;
}

.MarginTop60{
    margin-top: 60px !important;
}
